@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../../fonts/ProximaNova-Semibold.eot');
    src: url('../../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
font-family: 'Proxima Nova Light';
src: url('../../fonts/ProximaNovaCond-Light.eot');
src: url('../../fonts/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
url('../../fonts/ProximaNovaCond-Light.woff') format('woff'),
url('../../fonts/ProximaNovaCond-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
//Чтобы убрать ошибку с шрифтами, необходимо подписать ProximaNovaCond

@mixin bold {
    font-family: 'Proxima Nova Semibold', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Light', sans-serif;
}
